:root {
    --primary-color: hsl(300, 43%, 22%); 
    --secondary-color: hsl(333, 80%, 67%);
    --tertiary-color:  hsl(303, 10%, 53%);
    --light-color: hsl(300, 24%, 96%);
    --white-color: hsl(0, 0%, 100%);
}    

body * {
    box-sizing: border-box;
}    

body {
    font-size: 15px;
}
















.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }